.block.tall{:id=>"#{name}_#{item.send(accessor)}", "data-ajax_url"=>url_for(:action=>'edit', :id=>item.send(accessor))}
  = render :partial=>"subscriptions/list_subscription_show", :locals=>{:item => item}
